{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    {% if request.user.is_authenticated %}
        <h4><a href="{% url 'auctions:new listing' %}">New Listing</a></h4>
    {% endif %}
    TODO
    <ul>
    {% for listing in listings %}
    <div class="list-item">
        {% if listing.image %}
            <img class="listing_image" src={{listing.image.url}} alt="{{listing.image.title}}">
        {% endif %}
        <div class="list-info">
            <h6 class="right"><a class="right" href="{% url 'auctions:listing' listing.pk %}">{{ listing.title }}</a></h6>
            <hr class="under">
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'auctions:add_watch' listing.pk %}"class="right" >Add to watchlist</a>
                <a class="btn btn-primary" href="{% url 'auctions:bid' listing.pk %}"class="right" >Bid</a>
            {% endif %}
        </div>
    </div>
    {% empty %}
        <li>There are no listings available at this time...</li>
    {% endfor %}
    </ul>
{% endblock %}