{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}    
    <link href="{% static 'auctions/CSS/watchlist.css' %}" rel="stylesheet">
    <h2>{{watchlist.owner_titled}}'s Watchlist</h2>
    {% for listing in listings %}
        <div class="watchlist-item">
            {% if listing.image %}
                <img src="{{listing.image.url}}">
            {% endif %}
            <a href="{% url 'auctions:listing' listing.pk %}">{{ listing.title }}</a>
            <a href="{% url 'auctions:rem_watch' listing.pk %}">Remove from watchlist</a>
        </div>
    {% empty %}
        <p>No items have added to the watchlist currently...</p>
    {% endfor %}
{% endblock body %}