.list-item{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.listing_image{
    width:300px;
    min-height: 100px;
    margin-right:5px;
    /* height: 800px; */
}


.list-item  hr {
    border: 3px solid blue;
    width: 100%;
}
