
a {
    text-decoration: none;
}
.status{
    background-color: lightgrey;
}

/* .submit{
    background-color: lightseagreen;
    color:white;
    padding: 2px;
    border: solid 2px rgb(12, 101, 153);
    border-radius:3px;
} */


.edit{
    background-color: grey;
    color:white;
}

.terminate{
    background-color: red;
    color:white;
}